@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.App-logo {
  height: 15vmin;
  pointer-events: none;
  padding: 3vmin;
}

.App-header {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-button {
  height: auto;
  width: 40px;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  transition: ease-in-out .2s;
}

.modal-button:hover {
  transform: scale(1.1)
}

.modal-button:active {
  transform: scale(0.8)
}

.App {
  background-color: #FFF6E9;
  font-size: calc(10px + 2vmin);
  font-family: Montserrat;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  min-width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 0.8vmin);
  font-family: itim;
  margin-top: 3vmin;
}

p {
  padding: 0px 20px;
}