@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.App-logo {
  height: 15vmin;
  pointer-events: none;
  padding: 3vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-button {
  height: auto;
  width: 5vmin;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  transition: ease-in-out .2s;
}

.close {
  top: 6vmin;
  right: 6vmin;
}

.modal-button:hover {
  transform: scale(1.1)
}

.modal-button:active {
  transform: scale(0.8)
}

.modal-title {
  font-family: itim;
  font-size: 2em;
  text-align: center;
  color: #FFF6E9;
  margin: 10px;
}

.flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

.flex-grid .col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-grid .col p {
  margin: 0px;
}

@media (max-width: 600px) {
  .App {
    min-height: 95vh;
  }

  .flex-grid {
    display: block;
    font-size: 1.2em;
  }
  .flex-grid .col {
    width: 100%;
    margin: 0;
  }

  .modal-title {
    font-size: 1.4em;
  }

  .close {
    top: 10vmin;
    right: 10vmin;
  }
}

.ingredient {
  width: 25vmin;
  height: auto;
  flex-grow: 1;
}

.App {
  background-color: #FFF6E9;
  font-size: calc(10px + 2vmin);
  font-family: Montserrat;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 0.8vmin);
  font-family: itim;
  margin-top: 3vmin;
}

p {
  padding: 20px;
  margin: 0px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}